@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Roboto', sans-serif;
}

h1, 
h2, 
h3, 
.inter{
    font-family: 'Inter', sans-serif; 
}